@import "~src/styles/mixins"

.window_container
  @include main-border
  @include shadow
  box-sizing: border-box


.window_title
  margin: 0
  padding: 0 1rem
  background: linear-gradient(180deg, rgb(251, 251, 252) 0%, rgb(251, 251, 252) 30%, rgb(249, 249, 250) 30%, rgb(242, 242, 243) 100%)
  font-size: 1rem
  height: 2.5rem


.window_content
  padding: 1rem
