<div class="window_container">
  <div class="window_title" fxLayout="row" fxLayoutAlign=" center">
    {{title}}
  </div>

  <div class="window_content">
    <ng-content></ng-content>
  </div>

</div>
