<div fxLayout="row wrap" fxLayoutAlign="center">

  <ng-container
    *ngFor="let item of itemList">

    <div
      class="select-product-item_container" fxLayout="row" fxLayoutAlign="center center"
      [ngClass]="{active: item.key === value?.key}"
      (click)="setItem(item)"
    >

      <div class="select-product-item_content">{{item.name}}</div>
    </div>

  </ng-container>

</div>
