@import "~src/styles/mixins"

.select-product-item_container
  @include main-border
  @include shadow

  min-width: 150px
  height: 4rem
  margin: .5rem
  background: linear-gradient(180deg,  rgb(245, 245, 245) 0%, rgb(245, 245, 245) 10%, rgb(254, 254, 254) 21%, rgb(254, 254, 254) 79%,  rgb(245, 245, 245) 90%, rgb(245, 245, 245) 100% )
  font-size: .8rem
  transition: background-color 3s ease-in-out

  &:hover
    cursor: pointer

  &.active
    color: white
    background: linear-gradient(180deg,  rgb(0, 48, 87) 0%, rgb(0, 48, 87) 10%, rgb(0, 59, 107) 21%, rgb(0, 59, 107) 79%,  rgb(0, 48, 87) 90%, rgb(0, 48, 87) 100% )




.select-product-item_content
  padding: 1rem
  user-select: none
