<div class="select-product_container">
  <app-window [title]="'Wybór Produktów'" >

    <form [formGroup]="formProduct" >
      <app-select-product [itemList]="products" formControlName="product"></app-select-product>
    </form>

  </app-window>
</div>
